#first_blue_text, #contact_me_link, .animate-word{font-size: 5vh;}
.home_text h1 {margin-top: -35vh;}
.home_text h2{margin-top: 7vh;}
.scroll-downs {bottom: -35vh;}

.background_image_sophie, 
.background_image_place_etoile, 
.background_image_place_etoile_second{
    display: none;
}

.first_section_h1{
    font-size: 5vh; 
    padding: 2vh 3vh;
}

#expetise_text{margin: 0 0 0 6vh; line-height: 2;}
#valeurs_text{margin: 0 0 0 9vh; }
#ecoute_text{margin: 0 0 0 9vh; line-height: 2;}

#contactez_span a {
    font-family: "Lato", sans-serif!important;
    font-style: normal;
    margin: 0;
    font-weight: 300;
    font-size: 5vh;
}

.main_div_second_section, .main_div_third_section{
    display: block;
    width: 90%;
    margin: 0 5%;
}

.parc_monceau{
    width: 21vh;
    height: 49vh;
    top: 220vh;
    left: 5vh;
    margin-top: 5vh;
}

.paris_ruelle{
    top: 95vh;
    left: 10vh;
    width: 40vh;
    height: 49vh;
}

.background_image_place_etoile_second_bottom{
    top: 220vh;
    right: 5vh;
    margin-top: 5vh;
}

.main_div_contact_me_bottom_icon{
    margin: 0vh 10% -30vh 10%;
    width: 80%;
    margin-left: 10%;
}

.second_section, .third_section{padding: 20vh 0 50vh 0}

.second_section h2{margin-top: -10vh; margin-bottom: 15vh;}

.third_section h2{margin-top: -5vh; margin-bottom: 5vh; font-size: 8.5vh;}

#contact_me{display: block;width: 100%; margin-left: 0; margin-top: -10vh}
#contact_me div p{margin: 0; text-align: center;}

.send_mail_bottom_icon{
    position: fixed;
    bottom: 4vh;
    right: 2vh;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 428px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .home_text h1{
        margin-top: -55vh;
    }

    .scroll-downs{
        bottom: -5vh;
    }

    .animate-word{
        font-size: 8vh;
    }

    .first_section{
        padding: 5vh 25vh;
    }

    .first_section_h1{
        word-spacing: 20px;
    }

    #expetise_text{margin: 0 0 0 30vh;}

    #valeurs_text{margin: 0 0 0 50vh;}

    #ecoute_text{margin: 0 0 0 70vh;}

    #contact_me_link, #contactez_span a{font-size: 8vh;}

    .second_section h2{font-size: 15vh;}

    .second_section{padding: 30vh 25vh;}

    .parc_monceau{
        width: 30vh;
        height: 52vh;
        top: 40vh;
        left: 0vh;
        margin-top: 5vh;
    }

    .paris_ruelle{
        width: 30vh;
        height: 52vh;
        top: 170vh;
        left: 0vh;
        margin-top: 50vh;
    }
    
    .background_image_place_etoile_second_bottom{
        top: 180vh;
        right: 0vh;
        width: 30vh;
        height: 70vh;
        margin-top: 5vh;
    }

    .main_div_contact_me_bottom_icon{
        margin: -20vh 10% -100vh 10%;
        width: 60%;
        margin-left: 20%;
    }

    #contact_me{display: inline-flex;width: 60%; margin-left: 20%; margin-top: -30vh}

}